<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Gestionar estilos de vida"}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="section-common">
            <div class="panel-prods-div">
                <div class="panel-prods-header">
                    <h2>Panel de gestión de categorías</h2>
                    <a href="/categoria/create">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <% for(let i = 0; i < categorias.length; i++) { %>
                    <article class="panel-marcas-div">
                        <div class="panel-prods-info">
                            <div class="img-mediana">
                                <% if (categorias[i].img) { %>
                                    <img src="<%=categorias[i].img %>" alt="imagen" width="360">    
                                <% } else { %>
                                    <img src="/img/products/img-not-found.webp" alt="Marca sin imagen" width="360">
                                <% } %>
                            </div>
                            
                            <div>
                                <p class="panel-marcas-nombre"><%= categorias[i].nombre %></p>
                            </div>
                        </div>
                        <div class="panel-prods-icons">
                            
                            <a href="/categoria/edit/<%= categorias[i].id %>">
                                <i id="icon-edit" class="fa-solid fa-pen-to-square"></i>
                            </a>

                            <% if (categorias[i].deleted_at != null) { %>
                                <label for="activar<%=categorias[i].id%>" class="activar">
                                    <i id="icon-edit" class="fa-solid fa-power-off"></i>
                                </label>
                                <form style="display: none;" action="/categoria/activar/<%= categorias[i].id %>?_method=patch" method="POST">
                                    <input id="activar<%=categorias[i].id%>" type="submit" value="eliminar">
                                </form>
                            <% } else { %>
                                <label for="eliminar<%=categorias[i].id%>" class="softDelete">
                                    <i id="icon-edit" class="fa-solid fa-trash-can"></i>
                                </label>
                                <form style="display: none;" action="/categoria/delete/soft/<%= categorias[i].id %>?_method=delete" method="POST">
                                    <input id="eliminar<%=categorias[i].id%>" type="submit" value="eliminar">
                                </form>
                            <% } %>  
                            

                        </div>
                    </article>
                <% } %>

            </div>

        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>