<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Crear producto"}) %>
<body>
    <%- include('../partials/header') %>  
    <main>
        <section class="section-common">
        
        <form id="form-prod-nuevo" class="form-prod-nuevo" method="POST" action="/products/create" enctype="multipart/form-data">
            <h1 class="label-crear-prod">Crear producto</h1>
            
            <input class="input-form <%if(locals.errores && errores.prod_nombre){%><%="input-form-no-aceptado"%><%}%>" type="text" name="prod_nombre" id="prod-nombre" placeholder="Nombre del producto" value="<%if(locals.prod && prod.prod_nombre){%> <%=prod.prod_nombre%> <%}%>">
            
            <p id="p-prod-nombre" class="form-error"><%= (locals.errores && errores.prod_nombre) ? errores.prod_nombre.msg : "" %></p>

            <div id="div-prod-categoria" class="div-prod-radio <%if(locals.errores && errores.prod_categoria){%><%="input-form-no-aceptado"%><%}%>">
                <p>Categoría del producto:</p>
                <% for(let i = 0; i < categorias.length; i ++) { %>
                    <div>
                        <input class="prod-categoria" type="radio" name="prod_categoria" id="<%=categorias[i].nombre%>" value="<%=categorias[i].id%>" <%if(locals.prod && prod.prod_categoria){%> <%if(prod.prod_categoria==categorias[i].id){%> <%="checked"%> <%}%> <%}%>>
                        <label for="<%= categorias[i].nombre %>"><%= categorias[i].nombre %></label>
                            
                    </div>
                    
                <% } %>

                <p id="p-prod-categoria" class="form-error"><%= (locals.errores && errores.prod_categoria) ? errores.prod_categoria.msg : "" %></p>

                <a class="crear-nueva-categoria" href="">Crear nueva categoria</a>
            </div>
            <div id="div-prod-estilosVida" class="div-prod-estilosVida <%if(locals.errores && errores.prod_estilosVida){%><%="input-form-no-aceptado"%><%}%>">
                <p>Estilos de vida acorde al producto:</p>
                <% for(let i = 0 ; i < estilosVida.length; i ++) { %>
                    <div>
                        <input class="prod-estilos-vida" type="checkbox" name="prod_estilosVida" id="<%=estilosVida[i].nombre%>" value="<%=estilosVida[i].id%>" <%if(locals.prod && prod.prod_estilosVida){%> 
                            <%for(let j=0;j<prod.prod_estilosVida.length;j++){%>
                                <%if(prod.prod_estilosVida[j]==estilosVida[i].id){%> <%="checked"%> <%}%>
                                <%}%>
                            <%}%> >
                        <label for="<%= estilosVida[i].nombre %>"><%= estilosVida[i].nombre %> </label>
                        
                    </div>
                <% } %>
                
                <p id="p-prod-estilosVida" class="form-error"><%= (locals.errores && errores.prod_estilosVida) ? errores.prod_estilosVida.msg : "" %></p>
                
                <a class="crear-nuevo-estiloVida" href="">Crear nuevo estilo de vida</a>
            </div>
            <div id="div-prod-marca" class="div-prod-radio <%if(locals.errores && errores.prod_marca){%><%="input-form-no-aceptado"%><%}%>">
                <p>Marca del producto:</p>
                <% for(let i = 0; i < marcas.length; i ++) { %>
                    <div>
                        <input type="radio" name="prod_marca" id="<%=marcas[i].nombre%>" value="<%=marcas[i].id%>" <%if(locals.prod && prod.prod_marca){%> <%if(prod.prod_marca==marcas[i].id){%> <%="checked"%> <%}%> <%}%> >
                        <label for="<%= marcas[i].nombre %>"><%= marcas[i].nombre %></label>
                       
                    </div>
                <% } %>

                <p id="p-prod-marca" class="form-error"><%= (locals.errores && errores.prod_marca) ? errores.prod_marca.msg : "" %></p>

                <a class="crear-nueva-marca" href="">Crear nueva marca</a>
            </div>
            
            <div class="div-prod-precio">
                <p>$</p><input class="<%if(locals.errores && errores.prod_precio){%><%="input-form-no-aceptado"%><%}%>"  type="number" step="0.01"  name="prod_precio" id="prod-precio" placeholder="Precio del producto" value="<%if(locals.prod && prod.prod_precio){%><%=parseFloat(prod.prod_precio)%><%}%>">

                <p id="p-prod-precio" class="form-error"><%= (locals.errores && errores.prod_precio) ? errores.prod_precio.msg : "" %></p>
            </div>
            <div>
                <input type="text" class="<%if(locals.errores && errores.prod_descripcion_corta){%><%="input-form-no-aceptado"%><%}%>" name="prod_descripcion_corta" id="prod-descripcion-corta" placeholder="Descripción corta del producto" value="<%if(locals.prod && prod.prod_descripcion_corta){%> <%=prod.prod_descripcion_corta%> <%}%>">

                <p id="p-prod-descr-corta" class="form-error"><%= (locals.errores && errores.prod_descripcion_corta) ? errores.prod_descripcion_corta.msg : "" %></p>
            </div>
            <div>
                <textarea class="<%if(locals.errores && errores.prod_descripcion_larga){%><%="input-form-no-aceptado"%><%}%>" name="prod_descripcion_larga" id="prod-descripcion-larga" cols="30" rows="5" placeholder="Decripción larga del producto"><%if(locals.prod && prod.prod_descripcion_larga){%><%=prod.prod_descripcion_larga%><%}%></textarea>
                
                <p id="p-prod-descr-larga" class="form-error"><%= (locals.errores && errores.prod_descripcion_larga) ? errores.prod_descripcion_larga.msg : "" %></p>
            </div>
            <div id="div-prod-fotos" class="div-prod-fotos <%= (locals.errores && errores.prod_fotos) ? 'class=input-form-no-aceptado' : "" %>">
                <label class="label-prod-fotos" for="prod-fotos">Fotos del producto: </label>
                <input class="input-prod-fotos" type="file" name="prod_fotos" id="prod-fotos" multiple>

                <p id="p-prod-fotos" class="form-error"><%= (locals.errores && errores.prod_fotos) ? errores.prod_fotos.msg : "" %></p>
            </div>
            <div>
                <button id="form-prod-submit" type="submit">Crear producto</button>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </section>
    </main>  
    <%- include('../partials/footer') %>
</body>

<script src="/js/productValidation.js"></script>
</html>
