<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Crear producto"}) %>
<body>
    <%- include('../partials/header') %>  
    <main>
        <section class="section-common">
        
        <form class="form-prod-nuevo" method="POST" action="/products/create" enctype="multipart/form-data">
            <h1 class="label-crear-prod">Crear producto</h1>
            <div>
                <input type="text" name="prod_nombre" id="prod-nombre" placeholder="Nombre del producto" required> 
            </div>
            <div class="div-prod-radio">
                <p>Categoría del producto:</p>
                <% for(let i = 0; i < categorias.length; i ++) { %>
                    <div>
                        <input type="radio" name="prod_categoria" id="<%= categorias[i].nombre %>" value="<%= categorias[i].id %>" <% if (i == 0) { %> <%= 'checked' %> <% } %> >
                        <label for="<%= categorias[i].nombre %>"><%= categorias[i].nombre %></label>
                    </div>
                <% } %>
                <a class="crear-nueva-categoria" href="">Crear nueva categoria</a>
            </div>
            <div class="div-prod-estilosVida">
                <p>Estilos de vida acorde al producto:</p>
                <% for(let i = 0 ; i < estilosVida.length; i ++) { %>
                    <div>
                        <input type="checkbox" name="prod_estilosVida" id="<%= estilosVida[i].nombre %>" value="<%= estilosVida[i].id %>" <% if (i == 0) { %> <%= 'checked' %> <% } %> >
                        <label for="<%= estilosVida[i].nombre %>"><%= estilosVida[i].nombre %> </label>
                    </div>
                <% } %>
                <a class="crear-nuevo-estiloVida" href="">Crear nuevo estilo de vida</a>
            </div>
            <div class="div-prod-radio">
                <p>Marca del producto:</p>
                <% for(let i = 0; i < marcas.length; i ++) { %>
                    <div>
                        <input type="radio" name="prod_marca" id="<%= marcas[i].nombre %>" value="<%= marcas[i].id %>" <% if (i == 0) { %> <%= 'checked' %> <% } %> >
                        <label for="<%= marcas[i].nombre %>"><%= marcas[i].nombre %></label>
                    </div>
                <% } %>
                <a class="crear-nueva-marca" href="">Crear nueva marca</a>
            </div>
            <div class="div-prod-precio">
                <p>$</p> <input type="number" name="prod_precio" id="prod-precio" placeholder="Precio del producto" required>
            </div>
            <div>
                <input type="text" name="prod_descripcion_corta" id="prod-descripcion-corta" placeholder="Descripción corta del producto" required> 
            </div>
            <div>
                <textarea name="prod_descripcion_larga" id="prod-descripcion-larga" cols="30" rows="5" placeholder="Decripción larga del producto"></textarea>
            </div>            
            <div class="div-prod-fotos">
                <label class="label-prod-fotos" for="prod-fotos">Fotos del producto: </label>
                <input class="input-prod-fotos" type="file" name="prod_fotos" id="prod-fotos" multiple>
            </div>
            <div>
                <button type="submit">Crear producto</button>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </section>
    </main>  
    <%- include('../partials/footer') %> 
</body>
</html>
