<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Productos"}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <%- include('../partials/listEstilosVida') %> 
        
        <section>
            <% if (locals.estiloFiltrado) {%> 
                <h2>Productos - <%= estiloFiltrado.nombre %> </h2>
            <% } else { %> 
                <h2>Productos</h2>
            <% } %> 
            <div id="contenedor-productos" class="contenedor-productos">
                <!-- <% for(let i = 0; i < prods.length; i++) { %>
                    <article class="article-prod">
                        <a href="/products/productDetail/<%= prods[i].id %>">
                            <div class="info-de-producto">
                                <i id="estrella" class="fa-solid fa-star"></i>
                                
                                <% if (prods[i].ProductoImagen.length > 0) { %>
                                    <img src="<%= prods[i].ProductoImagen[0].img %>" alt="" width="360">
                                <% } %>
                                <div><p><%= prods[i].nombre %> - <%= prods[i].Marca.nombre %></p></div> 
                                <div><p>$<%= prods[i].precio %></p></div>
                            </div>
                        </a>
                    </article>
                <% } %> -->
            </div>
        </section>
    </main>
    <script src="/js/products.js"></script>
    <%- include('../partials/footer') %> 
</body>
</html>