<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Productos"}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        
        <div class="div-filtros-listado-prods">
            <div class="filtros-listado-prods">
                <div class="div-filtros">
                    <div class="filtro-texto-buscado">
                        <label class="label-texto-buscado" for="texto-buscado">Texto: </label>
                        <input type="text" id="texto-buscado" name="texto_buscado">
                    </div>
                    <div>
                        <p>Estilos de vida: </p>
                        <select id="estiloVida_prod" name="estiloVida_prod">
                            <option value="all">Todos</option>
                            <% for(let i = 0; i < estilosVida.length; i ++) { %> 
                                <option value="<%= estilosVida[i].id %>" <%= locals.estiloFiltrado && estilosVida[i].id == estiloFiltrado.id ? "selected" : "" %>><%= estilosVida[i].nombre %></option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <p>Marcas: </p>
                        <select id="marca-prod" name="marca_prod">
                            <option value="all">Todos</option>
                            <% for(let i = 0; i < marcas.length; i ++) { %>
                                <option value="<%= marcas[i].id %>"><%= marcas[i].nombre %></option>
                            <% } %>
                        </select>
                    </div>
                    <div>
                        <p>Categorías: </p>
                        <select id="categoria-prod" name="categoria_prod">
                            <option value="all">Todos</option>
                            <% for(let i = 0; i < categorias.length; i ++) { %>
                                <option value="<%= categorias[i].id %>"><%= categorias[i].nombre %></option>
                            <% } %>
                        </select>
                    </div>

                    <div>
                        <p>Favoritos: </p>
                        <input class="checkbox-recordar-usuario" type="checkbox" name="agregar_favoritos" id="agregar_favoritos" value="agregar_favoritos">
                        
                    </div>
                </div>

                <div class="div-ordenar-prod">
                    <p>Ordenar por</p>
                    <select id="ordenar_prod" name="ordenar_prod">
                        <option value="id">Id</option>
                        <option value="created_at">Fecha</option>
                        <option value="nombre">Nombre</option>
                        <option value="precio">Precio</option>
                    </select>
                    <i id="orden-flecha-arriba" class="flecha fa-solid fa-arrow-up flecha-seleccionada" onclick="seleccionarFlecha('orden-flecha-arriba')"></i>
                    <i id="orden-flecha-abajo" class="flecha fa-solid fa-arrow-down flecha-no-seleccionada" onclick="seleccionarFlecha('orden-flecha-abajo')"></i>
                </div>
                <div>
                    <p id="aplicar-filtros" class="aplicar-filtros" onclick="filtrarProductos()">Aplicar filtros</p>
                </div>
            </div>
        </div>
        <section>
            <div id="contenedor-productos" class="contenedor-productos">
            </div>
        </section>
    </main>
    <script src="/js/products.js"></script>
    <%- include('../partials/footer') %>
</body>
</html>