<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>  
    <main>
        <h1 class="label-crear-prod">Crear producto</h1>
        <form class="form-prod-nuevo" method="POST" action="/products/newProduct" enctype="multipart/form-data">
            <div>
                <input type="text" name="prod_nombre" id="prod-nombre" placeholder="Nombre del producto" required> 
            </div>
            <div class="div-prod-categorias">
                <p>Categorías del producto:</p>
                <% for(let i = 0 ; i < categorias.length; i ++) { %>
                    <div>
                        <input type="checkbox" name="prod_categorias" id="<%= categorias[i].nombre %>" value="<%= categorias[i].id %>" <% if (i == 0) { %> <%= 'checked' %> <% } %> >
                        <label for="<%= categorias[i].nombre %>"><%= categorias[i].nombre %> </label>
                    </div>
                <% } %>
                <a class="crear-nueva-categoria" href="">Crear nueva categoría</a>
            </div>
            <div class="div-prod-marca">
                <p>Marca del producto:</p>
                <% for(let i = 0; i < marcas.length; i ++) { %>
                    <div>
                        <input type="radio" name="prod_marca" id="<%= marcas[i].nombre %>" value="<%= marcas[i].id %>" <% if (i == 0) { %> <%= 'checked' %> <% } %> >
                        <label for="<%= marcas[i].nombre %>"><%= marcas[i].nombre %></label>
                    </div>
                <% } %>
                <a class="crear-nueva-marca" href="">Crear nueva marca</a>
            </div>
            <div class="div-prod-precio">
                <p>$</p> <input type="number" name="prod_precio" id="prod-precio" placeholder="Precio del producto" required>
            </div>
            <div>
                <input type="text" name="prod_descripcion_corta" id="prod-nombre" placeholder="Descripción corta del producto" required> 
            </div>
            <div>
                <textarea name="prod_descripcion_larga" id="prod-descripcion-larga" cols="30" rows="5" placeholder="Decripción larga del producto"></textarea>
            </div>            
            <div class="div-prod-fotos">
                <label class="label-prod-fotos" for="prod-fotos">Fotos del producto: </label>
                <input class="input-prod-fotos" type="file" name="prod_fotos" id="prod-fotos" multiple>
            </div>
            <div>
                <button type="submit">Crear producto</button>
                <button type="reset">Borrar</button>
            </div>
        </form>
    </main>  
    <footer>
        <h3>Avenida Olivos 4109</h3>
        <div class="iconos-footer">
            <i class="fa-brands fa-whatsapp"></i> 
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
        </div>
    </footer>
</body>
</html>
