<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Detalle de producto"}) %>
<body>
        <!-- inicio header -->
        <%- include('../partials/header') %>
        <!-- fin header -->
        <!-- inicio main -->
    <main>
        <h3 class="nom-producto"><%= prod.nombre %> - <%= marcas[prod.marca-1].nombre %></h3>
        <!-- inicio carrusel -->
        <section class="section-carrusel-un-prod">
            <div class="carrusel-un-prod">
                <% for(let i = 0; i < prod.imgs.length; i ++) { %>
                    <img src="<%= prod.imgs[i].img %>" alt="<%= prod.imgs[i].alt %> ">           
                <% } %>
                <% if (prod.imgs.length == 0) { %>
                    <img src="/img/img-not-found.webp" alt="Producto sin imagen" width="360">
                <% } %>
            </div>
            <i id ="estrella" class="fa-solid fa-star"></i>
            <div class="agregar-carrito">
                <button class="boton-carrito"><i class="fa-solid fa-plus"></i></button>
                <p>1</p>
                <button class="boton-carrito"><i class="fa-solid fa-minus"></i></button>
                <button type="submit" class="boton-agregar-carrito">Agregar al carrito</button>
            </div>
        </section>
        <!-- fin carrusel -->
        <p class="precio-prod">$ <%= prod.precio %> </p>
        <h3><%= prod.descripcionCorta %></h3>
        <p><%= prod.descripcionLarga %></p>
        
    </main>
        <!-- fin main -->
        <!-- inicio footer -->
        <footer>
            <h3>Avenida Olivos 4109</h3>
            <div class="iconos-footer">
                <i class="fa-brands fa-whatsapp"></i> 
                <i class="fa-regular fa-envelope"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook-f"></i>
            </div>
        </footer>
        <!-- fin footer --> 
</body>
</html>