<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Detalle de producto"}) %>
<body class="detalle-producto">
    <%- include('../partials/header') %>
    <main id="main-detalle-prod">
        <section class="prod-carrusel">
            <div class="carrusel-un-prod">
                <% for (let i = 0; i < prod.ProductoImagen.length; i++) { %>
                <img id="prod-img-<%= i %>" src="<%= prod.ProductoImagen[i].img %>" alt="<%= prod.ProductoImagen[i].img %>">
                <% } %>         
            </div>
            <i id ="estrella" class="fa-solid fa-star" onClick="addFavoritos('<%= prod.id %>')"></i>
        </section>

        <section class="prod-info">
            <p hidden id="prod-id"><%= prod.id %></p>
            <div class="info">
                <h2 class="nom-producto" id="prod-nombre-marca"><%= prod.nombre %> - <%= prod.Marca.nombre %></h2>
                <p class="precio-prod" id="prod-precio">$ <%= prod.precio %> </p>
                <p class="descripcion-corta"><%= prod.descripcionCorta %></p>
                <p class="descripcion-larga"><%= prod.descripcionLarga %></p>
            </div>

            <div class="estilosVida-imgs">
                
                <% for(let i = 0; i < prod.EstiloVida.length; i ++) { %>
                    <div class="una-categoria">
                        <img src="<%= prod.EstiloVida[i].img %>" alt="">
                        <p><%= prod.EstiloVida[i].nombre %></p>
                    </div>
                <% } %>
            </div>

            <div class="agregar-carrito">
                <div class="cantidad"> 
                    <button class="cant" onclick="botonQuitar()"><i class="fa-solid fa-minus"></i></button>
                    <p id="prod-cant">1</p>
                    <button class="cant" onclick="botonAgregar()"><i class="fa-solid fa-plus"></i></button>
                </div>
                <button type="submit" class="boton-carrito-agregar" id="agregar-carrito">Agregar al carrito</button>
                <p hidden id="carrito-aviso-elem-agregado">Agregado al carrito</p>
                <button type="submit" class="boton-carrito-comprar"><a class="link-boton-1" href="/products/productCart">Comprar ahora</a></button>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %>

    <script src="/js/agregarCarrito.js"></script>
</body>
</html>