<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %> 
<body>
    <%- include('./partials/header') %>
    <main>

        <!-- inicio carrusel -->
        <section class="section-carrusel-prod">
            <div class="carrusel-prods">
                <img src="/img/banner/banner_1.jpg" alt="Leche de almendras y chocolate">
                <img src="/img/banner/banner_2.webp" alt="Leche de almendras y coco">
                <img src="/img/banner/banner_3.jpg" alt="Leche de almendras y chocolate">
            </div>
        </section>
        <!-- fin carrusel  -->
        <!-- inicio productos  -->
            
        <section>
            <h2>Novedades</h2>
            <div class="contenedor-productos">
                <% for(let i = 0; i < prodsNovedades.length; i++) { %>
                    <article>
                        <a href="/products/productDetail/<%= prodsNovedades[i].id %>">
                            <div class="info-de-producto">
                                <i id ="estrella" class="fa-solid fa-star"></i>
                                <% if (prodsNovedades[i].imgs.length > 0) { %>
                                    <img src="<%= prodsNovedades[i].imgs[0].img %>" alt="<%= prodsNovedades[i].imgs[0].alt %>" width="360">    
                                <% } else { %>
                                    <img src="/img/img-not-found.webp" alt="Producto sin imagen" width="360">
                                <% } %>
                                <div><p><%= prodsNovedades[i].nombre %> - <%= prodsNovedades[i].marca %></p></div> 
                                <div><p>$<%= prodsNovedades[i].precio %></p></div>
                            </div>
                        </a>
                    </article>
                <% } %>
            </div>
        </section>
        <section>
            <h2>Nuestros preferidos</h2>
            <div class="contenedor-productos">
                <% for(let i = 0; i < prodsPreferidos.length; i++) { %>
                    <article>
                        <a href="/products/productDetail/<%= prodsPreferidos[i].id %>">
                            <div class="info-de-producto">
                                <i id ="estrella" class="fa-solid fa-star"></i>
                                <% if (prodsPreferidos[i].imgs.length > 0) { %>
                                    <img src="<%= prodsPreferidos[i].imgs[0].img %>" alt="<%= prodsPreferidos[i].imgs[0].alt %>" width="360">    
                                <% } else { %>
                                    <img src="/img/img-not-found.webp" alt="Producto sin imagen" width="360">
                                <% } %>
                                <div><p><%= prodsPreferidos[i].nombre %> - <%= prodsPreferidos[i].marca %></p></div> 
                                <div><p>$<%= prodsPreferidos[i].precio %></p></div>
                            </div>
                        </a>
                    </article>
                <% } %>
            </div>
        </section>
        <section>
            <h2>Los más buscados</h2>
            <div class="contenedor-productos">
                <% for(let i = 0; i < prodsBuscados.length; i++) { %>
                    <article>
                        <a href="/products/productDetail/<%= prodsBuscados[i].id %>">
                            <div class="info-de-producto">
                                <i id ="estrella" class="fa-solid fa-star"></i>
                                <% if (prodsBuscados[i].imgs.length > 0) { %>
                                    <img src="<%= prodsBuscados[i].imgs[0].img %>" alt="<%= prodsBuscados[i].imgs[0].alt %>" width="360">    
                                <% } else { %>
                                    <img src="/img/img-not-found.webp" alt="Producto sin imagen" width="360">
                                <% } %>
                                <div><p><%= prodsBuscados[i].nombre %> - <%= prodsBuscados[i].marca %></p></div> 
                                <div><p>$<%= prodsBuscados[i].precio %></p></div>
                            </div>
                        </a>
                    </article>
                <% } %>
            </div>
        </section>
        <!-- fin productos     -->
      
    </main>
    <footer>
        <h3>Avenida Olivos 4109</h3>
        <div class="iconos-footer">
            <i class="fa-brands fa-whatsapp"></i> 
            <i class="fa-regular fa-envelope"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook-f"></i>
        </div>
    </footer>
</body>
</html>
