<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "EcoFood"}) %> 
<body>
    <%- include('./partials/header') %>
    <main>

        <!-- inicio carrusel -->
        <section class="section-carrusel-prod">
            <div class="carrusel-prods">
                <img src="/img/banner/banner_1.jpg" alt="Leche de almendras y chocolate">
                <img src="/img/banner/banner_2.webp" alt="Leche de almendras y coco">
                <img src="/img/banner/banner_3.jpg" alt="Leche de almendras y chocolate">
            </div>
        </section>
        <!-- fin carrusel  -->
        <!-- inicio productos  -->
            
        <%- include('./partials/listEstilosVida') %> 
        
        <section>
            <h2>Nuestros productos</h2>
            <div  id="contenedor-productos" class="contenedor-productos">
                <% for(let i = 0; i < prodsEcoFood.length; i++) { %>
                    <article>
                        <div class="info-de-producto">
                            <i id="estrella-<%= prodsEcoFood[i].id %>" class="fa-solid fa-star estrella estrella-no-seleccionada" onClick="addFavoritos('<%= prodsEcoFood[i].id %>')"></i>
                            <a href="/products/productDetail/<%= prodsEcoFood[i].id %>"></a>
                            <% if (prodsEcoFood[i].ProductoImagen.length > 0) { %>
                                <img src="<%= prodsEcoFood[i].ProductoImagen[0].img %>" alt="<%= prodsEcoFood[i].ProductoImagen[0].img %>" width="360">    
                            <% } else { %>
                                <img src="/img/products/img-not-found.webp" alt="Producto sin imagen" width="360">
                            <% } %>
                            <div><p><%= prodsEcoFood[i].nombre %> - <%= prodsEcoFood[i].Marca.nombre %></p></div> 
                            <div><p>$<%= prodsEcoFood[i].precio %></p></div>
                            </a>
                        </div>
                    </article>
                <% } %>
            </div>
        </section>
        <!-- fin productos     -->
      
    </main>
    <!--<script src="/js/products.js"></script> -->
    <%- include('./partials/footer') %> 
    <!--<%- include('./partials/menuHamburguesa') %> -->
</body>
</html>
