<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "EcoFood"}) %> 
<body>
    <%- include('./partials/header') %>
    <main>

        <!-- inicio carrusel -->
        <section class="section-carrusel-prod">
            <div class="carrusel-prods">
                <img class="gris" src="/img/banner/banner_1.jpg" alt="Leche de almendras y chocolate">
                <img class="gris" src="/img/banner/banner_2.webp" alt="Leche de almendras y coco">
                <img class="gris" src="/img/banner/banner_3.jpg" alt="Leche de almendras y chocolate">
            </div>
        </section>
        <!-- fin carrusel  -->
        <!-- inicio productos  -->
            
        <section>
            <div class="estilosVida-imgs">
                <a href="/products/listProducts">
                    <div class="una-categoria">
                        <!-- <img src="/img/estilosVida/img-celiacos.png" alt="Todos los productos"></a>-->
                        <i class="fa-solid fa-utensils"></i>
                        <p>Todos</p>
                    </div>
                </a>
                
                <% for(let i = 0; i < estilosVida.length; i ++) { %>
                    <a href="/products/listProducts">
                        <div class="una-categoria">
                            <!-- <img src="<%= estilosVida[i].img %>" alt="<%= estilosVida[i].alt %>"> -->
                            <i class="<%= estilosVida[i].iClass %>"></i>
                            <p><%= estilosVida[i].nombre %></p>
                        </div>
                    </a>
                <% } %>
            </div>
        </section>
        
        <section>
            <h2>Novedades</h2>
            <div class="contenedor-productos">
                <% for(let i = 0; i < prodsNovedades.length; i++) { %>
                    <article>
                        <a href="/products/productDetail/<%= prodsNovedades[i].id %>">
                            <div class="info-de-producto">
                                <i id ="estrella" class="fa-solid fa-star"></i>
                                <% if (prodsNovedades[i].imgs.length > 0) { %>
                                    <img src="<%= prodsNovedades[i].imgs[0].img %>" alt="<%= prodsNovedades[i].imgs[0].alt %>" width="360">    
                                <% } else { %>
                                    <img src="/img/products/img-not-found.webp" alt="Producto sin imagen" width="360">
                                <% } %>
                                <div><p><%= prodsNovedades[i].nombre %> - <%= marcas[prodsNovedades[i].marca-1].nombre %></p></div> 
                                <div><p>$<%= prodsNovedades[i].precio %></p></div>
                            </div>
                        </a>
                    </article>
                <% } %>
            </div>
        </section>
        <section>
            <h2>Nuestros preferidos</h2>
            <div class="contenedor-productos">
                <% for(let i = 0; i < prodsPreferidos.length; i++) { %>
                    <article>
                        <a href="/products/productDetail/<%= prodsPreferidos[i].id %>">
                            <div class="info-de-producto">
                                <i id ="estrella" class="fa-solid fa-star"></i>
                                <% if (prodsPreferidos[i].imgs.length > 0) { %>
                                    <img src="<%= prodsPreferidos[i].imgs[0].img %>" alt="<%= prodsPreferidos[i].imgs[0].alt %>" width="360">    
                                <% } else { %>
                                    <img src="/img/products/img-not-found.webp" alt="Producto sin imagen" width="360">
                                <% } %>
                                <div><p><%= prodsPreferidos[i].nombre %> - <%= marcas[prodsPreferidos[i].marca-1].nombre %></p></div> 
                                <div><p>$<%= prodsPreferidos[i].precio %></p></div>
                            </div>
                        </a>
                    </article>
                <% } %>
            </div>
        </section>
        <section>
            <h2>Los más buscados</h2>
            <div class="contenedor-productos">
                <% for(let i = 0; i < prodsBuscados.length; i++) { %>
                    <article>
                        <a href="/products/productDetail/<%= prodsBuscados[i].id %>">
                            <div class="info-de-producto">
                                <i id ="estrella" class="fa-solid fa-star"></i>
                                <% if (prodsBuscados[i].imgs.length > 0) { %>
                                    <img src="<%= prodsBuscados[i].imgs[0].img %>" alt="<%= prodsBuscados[i].imgs[0].alt %>" width="360">    
                                <% } else { %>
                                    <img src="/img/products/img-not-found.webp" alt="Producto sin imagen" width="360">
                                <% } %>
                                <div><p><%= prodsBuscados[i].nombre %> - <%= marcas[prodsBuscados[i].marca-1].nombre %></p></div> 
                                <div><p>$<%= prodsBuscados[i].precio %></p></div>
                            </div>
                        </a>
                    </article>
                <% } %>
            </div>
        </section>
        <!-- fin productos     -->
      
    </main>
    <%- include('./partials/footer') %> 
</body>
</html>
