<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Crear estilo de vida"}) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="section-common">
            <form class="form-prod-nuevo" method="POST" action="/categoria/create" enctype="multipart/form-data">
                <h1 class="label-crear-prod">Crear categoría</h1>
                
                <input class="input-form <%if(locals.errores && errors.categoria_nombre){%><%="input-form-no-aceptado"%><%}%>" type="text" name="categoria_nombre" id="categoria_nombre" placeholder="Nombre del estilo de vida"
                    value="<%= (locals.oldData && oldData.categoria_nombre) ? oldData.categoria_nombre : "" %>"
                >
                <% if (locals.errors && errors.categoria_nombre) { %>
                    <p class="form-error"><%= errors.categoria_nombre.msg %> </p>
                <% } %> 
                
                <div class="div-prod-fotos <%= (locals.errors && errors.categoria_foto) ? 'class=input-form-no-aceptado' : "" %>">
                    <label class="label-prod-fotos" for="categoria-foto">Foto de la categoría: </label>
                    <input class="input-prod-fotos" type="file" name="categoria_foto" id="categoria-foto"
                    >
                    <% if (locals.errors && errors.categoria_foto) { %>
                        <p class="form-error"><%= errors.categoria_foto.msg %> </p>
                    <% } %> 
                </div>

                <div>
                    <button type="submit">Crear categoría</button>
                    <button type="reset">Borrar</button>
                </div>

            </form>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>