<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Editar usuario"}) %>
<body class="detalle-usuario">
        <!-- inicio header -->
        <%- include('../partials/header') %>
        <!-- fin header -->

<!-- inicio main -->
<main>
    <div class="container">
        <div class="box">
          <img src="/img/users/<%= user.img %> " alt="<%= user.alt %> ">
          <div class="name_job"><%= user.nombre %></div>
          <p><%= user.email %></p>
          <label for="pet-select">Seleccione una opción:</label>
<select name="roles" id="roles">
    <option value="invitado">Invitado</option>
    <option value="usuario">Usuario</option>
    <option value="administrador">Administrador</option>    
</select>
          <div class="btns">
            
            <button type="submit">Editar usuario</button>
            
            <button type="reset">Borrar</button>
          </div>
        </div>
        </div>
</main>
<!-- fin main -->


        <!-- inicio footer -->
        <%- include('../partials/footer') %> 
        <!-- fin footer -->
</body>
</html>