<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Editar usuario"}) %>
<body class="detalle-usuario">
    <%- include('../partials/header') %>

    <main>
        <h1 class="label-editar-prod">Editar usuario</h1>

        <form  id="form" class="form-editar-user" method="POST" action="/users/edit/<%= user.id %>?_method=PUT" enctype="multipart/form-data">
            <input hidden name="id" id="id" value="<%= user.id %>">
            <div class="container">
                <div class="box">
                    <img src="<%= user.img %>" alt="<%= user.img %>">
                    <div class="name_job"><%= user.nombre %></div>
            
                    <% if(locals.usuarioLogueado && locals.usuarioLogueado.id == user.id ) { %>

                        <div>
                        <input class="input-form" type="text" name="nombre" id="nombre" placeholder="Nombre del usuario" value="<%= user.nombre%>">
                        <p class="form-error"><%= (locals.errors && errors.nombre) ? errors.nombre.msg : "" %></p>
                        </div>

                        <div>
                        <label for="user_foto"><p class="p-mediana">Cambiá tu foto de perfil:</p></label>
                        <input type="file" name="user_foto" id="user_foto"
                        <%= (locals.errors && errors.user_foto) ? 'class=input-form-no-aceptado' : "" %>
                        >
                        <p class="form-error"><%= (locals.errors && errors.user_foto) ? errors.user_foto.msg : "" %></p> 
                        </div>

                    <% } %>      
                       

                    <% if(locals.usuarioLogueado && rolUser == "Administrador") { %> 
                        <% for (let i = 0; i < rol.length; i++) { %>
                            <div>
                                <input type="radio" name="rol" id="<%= rol[i].id %>" value="<%= rol[i].id %>" <%= user.rol_id == rol[i].id ? "checked" : "" %> > 
                                <label for="<%= rol[i].id %>"><%= rol[i].nombre %></label>
                            </div>
                        <% } %>           
                    <% } %>
            
                    <button class="<%= (locals.errors) ? "boton-form-error" : "" %>" type="submit">Editar</button>
                    <button type="reset">Borrar</button>
                </div>
            </div>
        </form>
    </main>

    <%- include('../partials/footer') %>
    <script src="/js/registerValidation.js"></script> 
</body>
</html>