<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Login"}) %>
<body>
    <!-- inicio header -->
    <%- include('../partials/header') %>
    <!-- fin header -->
    <!-- inicio main -->
    <main>
        <section class="section-common">
            <div class="div-form">
                <img src="/img/EcoFood Logo Curvas web.jpg" alt="imagen de ejemplo" width="360">
                <h2>Iniciá sesión</h2>
                <p>Comprá más rápido y llevá el control de tus pedidos; ¡en un solo lugar!</p>
                <form action="/users/login" method="POST" action="/users/login">
                    <div>
                        <input type="text" name="email" id="email" placeholder="Email"
                            <%= (locals.errors && errors.email) ? 'class=input-form-no-aceptado' : "" %>
                            value="<%= (locals.oldData && oldData.email) ? oldData.email : "" %>"  
                        >

                        <% if (locals.errors && errors.email) { %>
                            <p class="form-error"><%= errors.email.msg %> </p>
                        <% } %>
                    </div>
                    <div>
                        <input type="password" name="contrasenia" id="contrasenia" placeholder="Elija una contraseña"
                            <%= (locals.errors && errors.contrasenia) ? 'class=input-form-no-aceptado' : "" %>
                        >
                        <% if (locals.errors && errors.contrasenia) { %>
                            <p class="form-error"><%= errors.contrasenia.msg %> </p>
                        <% } %>
                    </div>
                    <div>
                        <button type="submit">Iniciar sesión</button>
                        
                        <input class="checkbox-recordar-usuario" type="checkbox" name="recordar_usuario" id="recordar_usuario" value="recordar_usuario">
                    
                        <label class="label-recordar-usuario" for="recordar_usuario">Recordarme</label>
                    
                        <a href="/"><p>Olvidé mi contraseña</p></a>
                    </div>
                </form>
                
                <a href="/users/register">¿No tenés cuenta aún? Crear cuenta</a>

            </div>
        </section>
    </main>
    <!-- fin main -->
    <!-- inicio footer -->
    <%- include('../partials/footer') %> 
    <!-- fin footer -->
</body>
</html>