<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Registrarse"}) %> 
<body>
    <!-- inicio header -->
    <%- include('../partials/header') %>
    <!-- fin header -->
    <!-- inicio main -->
    <main>
        <section class="section-common">
            <div class="div-form">
                <img src="/img/EcoFood Logo Curvas web.jpg" alt="imagen de ejemplo" width="360">
                <h2>Creá tu cuenta</h2>
                <!-- <p>Comprá más rápido y llevá el control de tus pedidos; ¡en un solo lugar!</p> -->
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                 
                    <div>
                        <input type="text" name="nombre" id="nombre" placeholder="Nombre"
                            <%= (locals.errors && errors.nombre) ? 'class=input-form-no-aceptado' : "" %>
                            value="<%= (locals.oldData && oldData.nombre) ? oldData.nombre : "" %>"
                        >
                        <% if (locals.errors && errors.nombre) { %>
                            <p class="form-error"><%= errors.nombre.msg %> </p>
                        <% } %> 
                    </div>
                    <div>
                        <input type="text" name="email" id="email" placeholder="Email"
                            <%= (locals.errors && errors.email) ? 'class=input-form-no-aceptado' : "" %>
                            value="<%= (locals.oldData && oldData.email) ? oldData.email : "" %>"
                        >
                        <% if (locals.errors && errors.email) { %>
                            <p class="form-error"><%= errors.email.msg %> </p>
                        <% } %>
                    </div>
                    <div>
                        <input type="password" name="contrasenia" id="contrasenia" placeholder="Elija una contraseña"
                            <%= (locals.errors && errors.contrasenia) ? 'class=input-form-no-aceptado' : "" %>
                        >
                        <% if (locals.errors && errors.contrasenia) { %>
                            <p class="form-error"><%= errors.contrasenia.msg %> </p>
                        <% } %>
                    </div>
            
                    <div>
                        <input type="password" name="confirmarContrasenia" id="confirmar-contrasenia" placeholder="Confirmar contarseña"
                            <%= (locals.errors && errors.confirmarContrasenia) ? 'class=input-form-no-aceptado' : "" %> 
                        >
                        <% if (locals.errors && errors.confirmarContrasenia) { %>
                            <p class="form-error"><%= errors.confirmarContrasenia.msg %> </p>
                        <% } %>
                    </div>
                    <div >
                        <label for="user_foto">Sube una foto de perfil: </label>
                        <input type="file" name="user_foto" id="user_foto"
                        <%= (locals.errors && errors.user_foto) ? 'class=input-form-no-aceptado' : "" %>
                        >

                        <% if (locals.errors && errors.user_foto) { %>
                            <p class="form-error"><%= errors.user_foto.msg %> </p>
                        <% } %>
                    </div>
                    <div>
                        <button type="submit">Crear cuenta</button>
                    </div>
                </form>
                <a href="/users/login">¿Yá tenés una cuenta? Iniciá sesión</a>
            </div>
        </section>
    </main>
    <!-- fin main -->
    <!-- inicio footer -->
    <%- include('../partials/footer') %> 
    <!-- fin footer -->
    
</body>
</html>