<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Detalle de usuario"}) %>
<body class="detalle-usuario">
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <div class="box">
            <img src="/img/users/<%= user.img %> " alt="<%= user.alt %> ">
            <div class="name_job"><%= user.nombre %></div>
            <p><%= user.email %></p>
            <% if(locals.usuarioLogueado && locals.usuarioLogueado.rol == 2) { %>
            <p>Rol: <%= rol[user.rol-1].nombre %></p>
            <% } %>
                <div class="btns">
                <button><a class="link-boton-2" href="/users/logout/<%= user.id %>">Cerrar sesión</a></button>
                <button><a class="link-boton-1" href="/users/edit/<%= user.id %>">Editar perfil</a></button>  
                </div>
        </div>      
    </main>
    <%- include('../partials/footer') %>
</body>
</html> 








