<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {title: "Detalle de usuario"}) %>
<body class="detalle-usuario">
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <div class="box">
            <img src="<%= user.img %> " alt="<%= user.alt %> ">
            <div class="name_job"><%= user.nombre %></div>
            <p class="p-mediana"><%= user.email %></p>
            <% if (user.rol.nombre == "Administrador") { %>
                <p class="p-mediana">Rol: <%= user.rol.nombre %></p>
            <% } %>
            <div class="btns">
                <button><a class="link-boton-2" href="/users/logout/<%= user.id %>">Cerrar sesión</a></button>
                <button><a class="link-boton-1" href="/users/edit/<%= user.id %>">Editar perfil</a></button>  
                <% if(user && locals.usuarioLogueado.id == user.id && user.rol.nombre == "Administrador") { %>
                    <button><a class="link-boton-1" href="/panels/manageEcoFood">Gestionar sitio</a></button>
                <% } %>
            </div>
        </div>      
    </main>
    <%- include('../partials/footer') %>
</body>
</html> 








